@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-container {
    justify-content: space-between;
    margin-bottom: 15px;
}

.sign-link {
    margin-right: 15px;
}

.not-cursor {
  cursor: not-allowed;
}